{% extends "base.html" %} {% block title %}Smart Notes-Login{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Login</h3>
  <div class="form-group">
    <label for="mob_mail">Email Address or Mobile Number</label>
    <input
      type="text"
      class="form-control"
      id="mob_mail"
      name="mob_mail"
      placeholder="Enter email or mob number"
      required
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <p> Or </p>
  <div class="form-group">
    <label for="otp">Enter OTP</label>
    <input
      type="text"
      class="form-control"
      id="otp"
      name="otp"
      pattern="{6}"
      placeholder="Enter OTP"
    />
   </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>&emsp;
  <button type="button" class="btn btn-primary" onClick="generateOTP()">
       <span aria-hidden="true">Generate OTP</span>
    </button>&emsp;
  <button type="button" class="btn btn-primary" onClick="ForgetPassword()">
       <span aria-hidden="true">Forget Password</span>
    </button>
</form>
{% endblock %}
